<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Stream Tracker</title>

  <link rel="stylesheet"
        href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/static/stylesheets/style.css">
  <script src="https://unpkg.com/bootstrap"></script>
  <script src="https://unpkg.com/jquery"></script>
<!--   <link rel="stylesheet"
        href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
  <script src="https://unpkg.com/jquery"></script>
  <script src="https://unpkg.com/popper"></script>
  <script src="https://unpkg.com/bootstrap"></script>

  <link rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"> -->
  <link rel="stylesheet" href="/static/stylesheets/output.css">
</head>
<body class="{% block body_class %}{% endblock %} min-h-screen bg-zinc-800">
  <article>
<!-- <nav class="bg-red-800">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
    <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
    <ul>
      {% if request.endpoint != None %}
      <li>
        <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" action="/users">
          <input name="q" class="form-control" placeholder="Search a movie" id="search">
          <button class="btn btn-default">
            <span class="fa fa-search"></span>
          </button>
        </form>
      </li>
      {% endif %}
      {% if not g.user %}
      <li><a href="/signup">Sign up</a></li>
      <li><a href="/login">Log in</a></li>
      {% else %}
      <li>
        <a href="/users/{{ g.user.id }}">
          <img src="{{ g.user.image_url }}" alt="{{ g.user.username }}">
        </a>
      </li>
      <li><a href="/messages/new">New Message</a></li>
      <li><a href="/logout">Log out</a></li>
      {% endif %}
    </ul>
    </div> 
    </div>
  </div>
</nav>
<div class="container">
  {% for category, message in get_flashed_messages(with_categories=True) %}
  <div class="alert alert-{{ category }}">{{ message }}</div>
  {% endfor %} -->
  <nav class="bg-red-900 shadow-lg">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">
        
        <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-end">
          <div class="hidden sm:ml-5 sm:block">
            <div class="flex space-x-4 h-12">
              <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
              <a href="/" class="rounded-md bg-indigo-950 px-3 py-3 text-sm/3 font-medium text-white hover:bg-slate-700" aria-current="page">Home</a>
              <a href="/watchlist" class="rounded-md bg-indigo-950 px-3 py-3 text-sm/3 font-medium text-white hover:bg-slate-700">Watchlist</a>
              <a href="/about" class="rounded-md bg-indigo-950 px-3 py-3 text-sm/3 font-medium text-white hover:bg-slate-700">About</a>
            </div>
          </div>
        </div>
        {% if g.user %}
          <div class="hidden sm:ml-5 sm:block">
            <div class="flex space-x-4 h-12">
              {% if request.endpoint != None %}
              
              <form class="rounded-md px-3 py-2 test-sm shadow-md input-group" action="/search">
                <input name="q" class="form-control" placeholder="Search a movie" id="search">
                <!-- <button class="btn btn-default"> -->
                  <span class="input-group-text">&#x1F50D;</span>
                <!-- </button> -->
              </form>
            
            {% endif %}
              <a href="/users/profile" class="">
                <!-- <button type="button" class=""> -->
                  <img src="{{g.user.image_url}}" class="flex space-x-4 h-12">
                <!-- </button> -->
              </a>
              <a href="/logout" class="rounded-md bg-indigo-950 px-3 py-3 text-sm/3 font-medium text-white hover:bg-slate-700">Logout</a>
            </div>
          </div>
      {% endif %}
      {% if not g.user %}
        <div class="hidden sm:ml-5 sm:block">
          <div class="flex space-x-4 h-12">
            <a href="/login" class="rounded-md bg-indigo-950 px-3 py-3 text-sm/3 font-medium text-white hover:bg-slate-700">Login</a>
            <a href="/signup" class="rounded-md bg-indigo-950 px-3 py-3 text-sm/3 font-medium text-white hover:bg-slate-700">Signup</a>
          </div>
        </div>
      {% endif %}  
    </div>
    </div>
  
    <!-- Mobile menu, show/hide based on menu state.
    <div class="sm:hidden" id="mobile-menu">
      <div class="space-y-1 px-2 pb-3 pt-2">
        Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white"
        <a href="#" class="block rounded-md bg-gray-900 px-3 py-2 text-base font-medium text-white" aria-current="page">Dashboard</a>
        <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Team</a>
        <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Projects</a>
        <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Calendar</a>
      </div>
    </div> -->
  </nav>
  <main>
  <div class="container">
    {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
  
    {% block content %}
    {% endblock %}
  
  </div>
  <br>
  <br>
  <br>
  <br>
  </main>
  <footer class="bg-body-tertiary text-center text-lg-start site-footer" style="position: fixed; left: 0; bottom: 0; width: 100%;">
    <div class="text-center p-3 bg-red-900">
      <p class="ounded-md bg-indigo-950 px-3 py-3 text-sm/3 font-medium text-white">Streaming availabilty thanks to JustWatch</p>
    </div>
  </footer>
  </article>
</body>
</html>