{% extends 'base.html' %}
{% block content %}
<div class="container text-center" id="response"></div>
    <h1 class="text-white display-2 text-center mb-5">Results</h1>
    
    <div class="container">
        <div class="row row-cols-1">
            {% for result in results %}
                <div class="container">
                    <div class="clearfix">
                        <img src="https://image.tmdb.org/t/p/original{{result.get('poster_path')}}" class="flex space-x-4 h-60 me-3 mb-3 mt-3 float-md-start">
                        <p class="text-white text-center">{{result.get('title')}}</p>

                        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-secondary" style="width: 100%"></div>
                        </div>
                        <div class="container mt-3">
                            <div class="row">
                                {% if result.get('flatrate') != None %}
                                    {% for provider in result.get('flatrate') %}
                                    <div class="col-1">
                                        <div class="col d-flex space-x-4 h-12 me-3 mb-1">
                                            <img src="https://image.tmdb.org/t/p/original{{provider.get('logo_path')}}">                                            
                                        </div>
                                        <p class="text-white text-xs">Subs HD</p>
                                    </div>
                                    {% endfor %}
                                {% else %}
                                    <p class="text-white">Currently no providers streaming</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% if result.get('flatrate') != None %}
                    <div class="ms-2">
                        <form method="POST" action="/movies/like">
                            <input type="hidden" name="add_watchlist" value="{{result}}">
                            <button class="btn btn-success">Add to watchlist</button>
                        </form>
                    </div>
                    {% endif %}
                </div>
                <br>
            {% endfor %}
        </div>
    </div>   
    
    <!-- <div style="display: none;">
        <input type="hidden" name="search_results" value="{{results}}" id="hidden_element">
    </div> -->
    
    <script type="text/javascript">
        $(function() {
            $('form').submit(function(event) {
                event.preventDefault();
                /* $("#hidden_element").clone().appendTo(this); */
                const formData = new FormData(this);

                fetch('/movies/like', {
                    method: 'POST',
                    body: formData,
                }).then(response => response.json())
                .then(data => {
                    $('#response').html(`<p class="text-white">${data.message}</p>`);
                })
                .catch(error => console.error('Error:', error));
                })
            });
    </script>
{% endblock %}